.settings-view {
  margin-bottom: 15px;
}
i { margin: 0 auto; }

.settings-view form {
    width: 100%;
    padding: 15px;
    background: #F0F0D6;
}
.settings-view p {
    width: 100%;
    padding: 15px;
    background: #F0F0D6;
	flex-wrap: nowrap;
}
.settings-view h2 {
    margin-bottom: 1px;
}
  
.image-settings-wrap {

 i { margin: 0 auto; }
 
    p {
      width: 100%;
      font-style: italic;
      margin: 0 auto;
    }
    form {
      width: 100%;
      padding-top: 0;
    }
    input {
      width: 100%;
      height: 100%;
    }
    label {
      width: 100%;
      margin-bottom: 10px;
      display: inline-block;
      font-weight: 400;
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
	  
	  i { margin: 0 auto; }

      button {
        width: 100%;
        margin-left: 5px;
      }
    }
}
